<header class="bg-danger">
  <div class="container">
    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand">PokeAngular</a>
        <form class="d-flex">
          <input
            class="form-control me-2 bg-dark btn-outline-dark text-white"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</header>
