<div class="grid bg-dark container my-5">
  <div *ngFor="let pokemon of POKEMONS" class="card bg-danger text-center">
    <img
      [src]="pokemon.sprites.front_default"
      class="card-img-top"
      [alt]="pokemon.name"
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.name }}</h5>
      <p class="card-text">Height : {{ pokemon.height }}</p>
      <a href="#" class="btn btn-warning">Do something</a>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" class="mb-5">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link bg-danger text-light" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-light" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-light" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-light" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-light" href="#">5</a>
    </li>
  </ul>
</nav>
