<div class="container my-3">
  <div class="d-flex flex-row-reverse bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <select (change)="onSizeChange($event)" class="custom-select">
        <option *ngFor="let size of dataSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="grid bg-dark container mb-5">
  <div
    *ngFor="
      let pokemon of POKEMONS
        | paginate
          : {
              itemsPerPage: dataSize,
              currentPage: page,
              totalItems: count
            }
    "
    class="card bg-danger text-center"
  >
    <img
      [src]="pokemon.sprites.front_default"
      class="card-img-top"
      [alt]="pokemon.name"
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.name }}</h5>
      <p class="card-text">Height : {{ pokemon.height }}</p>
      <a href="#" class="btn btn-warning">Do something</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
