.grid {
  display: grid;
  gap: 2rem;
  text-align: center;
  grid-auto-rows: fit-content(100%);
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  min-height: 100vh;
}

.bg-purple {
  background-color: mediumpurple;
}

.bg-yellow {
  background-color: yellow;
}

.bg-brown {
  background-color: saddlebrown;
}

.bg-pink {
  background-color: hotpink;
}

.bg-reddish {
  background-color: darkred;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #dc3545;
}
